<div class="d-flex flex-row justify-content-center row-hl">
  <div class="card text-center">
    <div class="card-header">
      Connection Login
    </div>
    <div class="card-body">
      <div class="formGroup" [formGroup]="loginForm">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Username" formControlName="username">
          </div>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div class="input-group">
              <a class="btn btn-primary btn-block" (click)="onLogin()">Login</a>
          </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      MEDI by Nicolas Develeer
    </div>
  </div>
</div>
