<div class="col-sm-12">
  <h4 class="display-4">List of connections </h4>
  <div class="alert alert-primary" role="alert">
    Number of records in your query : {{ connections.length }}
  </div>
  <form [formGroup]="searchForm" >
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th>
            <div class="input-group">
              <span class="input-group-addon">GLN</span>
              <input type="text" class="form-control" placeholder="GLN" formControlName="gln">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">Partner</span>
              <input type="text" class="form-control" placeholder="Partner" formControlName="tp">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">Message</span>
              <input type="text" class="form-control" placeholder="Message" formControlName="message">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">Copy</span>
              <input type="text" class="form-control" placeholder="Copy" formControlName="copy">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">Last Update</span>
              <input type="text" class="form-control" placeholder="Modification Date" formControlName="modate">
            </div>
          </th>
          <th>
            <a class="btn btn-success" (click)="onSearch()"> <i class="fa fa-search"  style="color:white" aria-hidden="true"></i> </a>
          </th>
        </tr>

    </thead>
    <tbody>
      <tr *ngFor="let con of connections">
        <th scope="row">{{ con.gln }}</th>
        <td>{{con.tp}}</td>
        <td>{{con.message}}</td>
        <td>{{con.copy}}</td>
        <td>{{con.modate | date: 'dd/MM/yyyy'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
</div>
