<div class="col-sm-12">
  <h4 class="display-4">List of suppliers</h4>
  <form [formGroup]="searchForm" >
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th>
            <div class="input-group">
              <span class="input-group-addon">LIFNR</span>
              <input type="text" class="form-control" placeholder="LIFNR" formControlName="lifnr">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">Name</span>
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">GLN</span>
              <input type="text" class="form-control" placeholder="GLN" formControlName="gln">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">VAT</span>
              <input type="text" class="form-control" placeholder="TVA/VAT" formControlName="tva">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon">Language</span>
              <input type="text" class="form-control" placeholder="Language" formControlName="lang">
            </div>
          </th>
          <th>
            <a class="btn btn-success" (click)="onSearch()"> <i class="fa fa-search"  style="color:white" aria-hidden="true"></i> </a>
          </th>
        </tr>

    </thead>
    <tbody>
      <tr *ngFor="let sup of suppliers">
        <th scope="row">{{ sup.lifnr }}</th>
        <td>{{sup.name}}</td>
        <td><a (click)="filterByGLN(sup.gln)" >{{sup.gln}}</a></td>
        <td>{{sup.tva}}</td>
        <td>{{sup.lang }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
</div>
